<div style="border-color: red; border-style: solid;">
    <h1>LIST ITEMS COMPONENT</h1>

    <h4>Count of List Items = {{_localListItems.length}}</h4>

    <button type="button" class="btn btn-primary btn-sm" tooltip="Add List Item" routerLink="/list-item" routerLinkActive="active" style="font-size: large;">
        Add List Item
    </button>

    <table border="1" style="font-size: large;">
        <tr *ngFor="let item of _localListItems">
            <td>{{ item }}</td>
        </tr>
    </table>
</div>